p {
    color: green;
  padding: 5px;
  background: rgb(29, 25, 25);
}
h1{
    color: red;
    font-size: 3.5em;
}
h2 {
    color: pink;
    font-size: 2.5em;
}
body {
    background-color: black;
}
ul {
    color: white;
}